/*------------------------------
[---error section  start---]
-------------------------------*/

.error-page{
	width:100%;
	text-align:center;
	position:relative;
	.close-icon{
		i{
			position: absolute;
		    top: 20.5%;
		    color: #DC4E42;
		    font-size:20px;
		}
	}
	h1{
		font-size:120px;
		color:$heading-color;
		margin-bottom:30px;
		position:relative;
		margin-top:-20px;
		&:after,&:before{
			position:absolute;
			left:38%;
			top:20%;
			background:$primary-color;
			width:10%;
			height:4px;
			content:"";
		}
		&:before{
			left:auto;
			right:36%;
			@include media-breakpoint-only(md) {
	            right:35%;
	        }
			@include media-breakpoint-only(xs) {
	            right:34%;
	        }
		}
	}
	.error-meta{
		position: absolute;
	    color: #DC4D41;
	    background: #fff;
	    height: 30px;
	    width:65px;
	    left: 50%;
	    margin-left: -32px;
	    font-size: 16px;
	    font-weight:600;
	    text-align: center;
	    line-height: 30px;
	    top: 48%;
	    margin-top: 31px;
	}
	.error-text{
		color:$heading-color;
		font-size:20px;
		border:6px solid $primary-color;
		display:inline-block;
		padding:20px;
		
	}
	p{
		margin-bottom:0px;	
	}
}



/*------------------------------
[---error section  end---]
-------------------------------*/