/*------------------------------
[---faq section  start---]
-------------------------------*/

.faq-accordion-style{
	.card{
		border:none;
		background-color:#f9fdff;
		margin-bottom: 10px;
		padding-left:0;
		@include media-breakpoint-only(xs) {
            margin-bottom: 5px;
        }
		.card-header{
			border-bottom:none;
			background-color:#f9fdff;
			padding-left:0;
		}
		h5{
			font-family:'Rubik', sans-serif;
			button[aria-expanded=false]{
				i.fa-angle-right{
					display:block;
				}
			}
			button[aria-expanded=true]{
				i.fa-angle-down{
					display:block;
				}
				
			}
		}
		button.btn{
			color:$heading-color;
			text-decoration:none;
			font-size: 1.15rem;
			display:block;
			width:100%;
			text-align:left;
			position:relative;
			padding-left:60px;
			padding-top: 10px;
			@include media-breakpoint-only(xs) {
	            font-size:.8rem;
	            padding-left:30px;
	        }
			i{
				font-size:150%;
				background:#C5FFE9;
				height:45px;
				width:45px;
				border-radius:50%;
				text-align:center;
				line-height:45px;
				position:absolute;
				left:0;
				top:0;
				display:none;
				@include media-breakpoint-only(xs) {
					top:8px;
		            width:20px;
		            height:20px;
		            line-height:20px;
		            font-size:100%;
		        }
			}
			i.fa-angle-down{
				
			}
		}
		.card-body{
			padding-left:80px;
			padding-top:10px;
			@include media-breakpoint-only(xs) {
				
	            font-size:12px;
	            padding-left:40px;
	        }
		}
	}
}


/*------------------------------
[---faq section  end---]
-------------------------------*/