/*------------------------------
	[---single-course-section start---]
-------------------------------*/

.single-course-item{
	margin:15px 0;
	overflow:hidden;
	&:hover{
		.course-bg{
			&:after{
				opacity:.8;
				visibility:visible;
				width:100%;
			}
			.course-bg-hover{
				opacity:1;
				visibility:visible;
				h3{
					opacity:1;
					visibility:visible;
					margin-bottom:10px;
				}
				.bordered-btn{
					margin-left:0;
				}
			}
		}
		h3{
			&:after,&:before{
				opacity:1;
				visibility:visible;
				width:30%;
			}
		}
		
	}
	.course-bg{
		background-size:cover;
		background-position:center;
		background-color:$primary-color;
		height:220px;
		position:relative;
		z-index:2;
		&:after{
			position:absolute;
			left:0;
			top:0;
			width:0;
			height:100%;
			background:$primary-color;
			content:"";
			z-index:-1;
			opacity:0;
			visibility:hidden;
			transition:$transition-time;
		}
		.course-bg-hover-wrapper{
			height:100%;
			width:100%;
		}
		.course-bg-hover{
			height:100%;
			width:100%;
			opacity:0;
			visibility:hidden;
			transition:$transition-time;
			vertical-align:middle;
			.bordered-btn{
				margin-left:-100px;
				&:hover{
					&:before{
						border-color:#fff;
					}
					
				}
			}
		}
	}
	
	h3{
		color:#333;
		font-size:20px;
		letter-spacing:2px;
		margin-top:20px;
		position:relative;
		z-index:2;

		&:after,&:before{
			position:absolute;
			left:0;
			bottom:-5px;
			width:0%;
			height:2px;
			background:$primary-color;
			content:"";
			opacity:0;
			visibility:hidden;
			transition:$transition-time;
		}
		&:before{
			left:auto;
			right:0;

		}
	}	
}

/*------------------------------
	[---single-course-section  end---]
-------------------------------*/

/*------------------------------
	[---single-course-kid  start---]
-------------------------------*/

.single-course-kid{
	background:#fff;
	padding:35px 20px;
	text-align:center;
	border-radius:6px;
	margin:15px 0;
	border:1px solid #F8BE24;
	img{
		width:120px;
		height:120px;
		border-radius:50%;
	}
	.course-text{
		h5{
			color:$primary-color;
			margin:30px 0;
		}
		p{
			margin-bottom:20px;
		}
	}
	.course-meta{
		font-size:12px;
		margin-bottom:0;
		span{
			margin-right:25px;
			@include media-breakpoint-only(md) {
				 margin-right:20px;		   
			}
			@include media-breakpoint-between(xs, md) {
			    margin-right:15px;
			}
			&:last-child{
				margin-right:0;
			}
		}
	}
}

/*------------------------------
	[---single-course-kid  end---]
-------------------------------*/


/*------------------------------------------
	[---single-course-item theme-2  start---]
------------------------------------------*/

.single-course-item.theme-2{
	margin:15px 0;
	&:hover{
		.course-bg{
			background-size:100%;
			&:after{
				width:90%;
				height:90%;
				left:5%;
				top:5%;
			}
		}
	}
	.course-bg{
		background-size:130%;
		transition:$transition-time;

		&:after{
			background: none;
		    border: 2px solid #fff;
		    left: 50%;
		    width: 0%;
		    top: 50%;
		    height: 0%;
		}
		&:before{
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			content:"";
			background:#333;
			opacity:.4;
			z-index:-1;
		}
	}
	.course-info{
		padding:20px;
		background:#f9fdff;
		h4{
			font-size:18px;
			font-weight:700;
			
		}
		
	}
}


/*------------------------------------------
	[---single-course-item theme-2  end---]
------------------------------------------*/