/*=============================================
    8: Counter
==============================================*/

.boxed-counter{
	margin:-20px 0;
}

/* 8.1: Single Counter */

.single-counter{
	margin:15px 0;
	h3{
		font-size:0;
		span{
			font-size:30px;
			color:#fff;
			font-weight:600;
		}
		.oprator{
			font-size:30px;
			color:$primary-color;
			font-weight:400;
		}
	}
	p{
		color:#fff;
		font-size:18px;
		font-weight:400;
		@media #{$tablet-device}{
			font-size:16px;
		}
	}
}
