
/*=============================================
    xx: Preloader
==============================================*/

.preLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-color;
    z-index: 99999;
    overflow: hidden;
}