/*=============================================
    05: Services Title
==============================================*/

.boxed-service-item{
    margin:-30px 0;
    min-height:1px;
    margin-right: -15px;
    margin-left: -15px;
}

/* Exclusive Service List */

.exclusive-service-list{
    margin-right:-30px;
    margin-bottom:-40px;
    .single-service-item{
        margin: 30px 15px 40px 15px;
    }
    .slick-arrow{
        top:-85px !important;
        right:65px;
        @media #{$large-mobile}{
            top:-38px !important;
        }
    }
    .slick-arrow.slick-next-btn{
        right:15px !important;
    }
}
/* 5.1: Single Services */

.single-service-item{
    border-top: 1px solid #00c544;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0,0,0,.05);
    transition: box-shadow .2s;
    padding: 70px 15px 0;
    margin:30px 0;
    transition:.3s;
    &:hover{
        box-shadow: 0 15px 15px rgba(0,0,0,.1);
        padding-bottom:25px;
        border-top-width: 2px;
        margin-bottom:-25px;
        .more-btn{
            opacity:1 !important;
            visibility:visible !important;
        }
    }
    .service-icon{
        svg + svg{
            position:absolute;
            left:0;
            top:0;
        }
    }
    .service-content{
    	margin-top:25px;

    	h2{
    		font-size:18px;
    	}
    	p{
    		margin-top:30px;
    	}
        .more-btn{
            visibility:hidden;
            opacity:0;
            transition:.3s;
        }
    }
}

/* 5.2: Service Details */

.service-details-title{
    h2{
        font-size:36px;
        line-height:48px;
        margin-bottom:15px;
        font-weight:500;
        max-width:60%;
        margin-top:-10px;
        @media #{$tablet-device}{
            max-width:100%;
        }
        @media #{$large-mobile}{
            max-width:100%;
            font-size:30px;
            line-height:40px;
        }
        span{
            color:$primary-color;
        }
    }
    p{
        font-size:18px;
        line-height:30px;
        @media #{$large-mobile}{
            font-size:17px;
        }
    }
}

/* 5.2.1: Service Details Table */

.service-details-table{
    background:#ecf7fe;
    padding:25px 30px;
    .table-responsive{
        @media #{$extra-large-device}{
            display:table !important;
        }
        @media #{$laptop-device}{
            display:table !important;
        }
    }
    table{
        margin-bottom:0;
    }
    thead{
        tr{
            td{
                border-top:0;
                color:$heading-color;
                font-weight:700;
                font-family: 'PT Sans', sans-serif;
                font-size:18px;
                text-align:center;
                padding-bottom:25px;
                padding-top:0;
            }
            .features{
                min-width:350px;
            }
            .action{
                min-width:180px;
            }
            .reviews{
                min-width:110px;
            }
        }
    }
    tbody{
        tr{
            background:#fff;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
            transition:.3s;
            &:hover{
               box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1); 
            }
            td{
                border-top:0;
                vertical-align:middle;
                padding:25px 15px;
                text-align:center;
                color:$sub-title-color;
                &:last-child{
                    padding-right:0;
                }
                .feature-list{
                    text-align:left;
                    li{
                        color:$sub-title-color;
                        margin-bottom:4px;
                        &:last-child{
                            margin-bottom:0;
                        }
                        i{
                            color:$primary-color;
                            padding-right:5px;
                            font-size:12px;
                        }
                    }
                }
                .review-list{
                    li{
                      margin-bottom:5px;
                      &:last-child{
                        margin-bottom:0;
                      }  
                    }
                    .star-rating{
                         i{
                            font-size:8px;
                            margin-right:4px;
                            color:$primary-color;
                        }
                    }
                   
                }
            }
            .provider-logo{
                background: #ecf7fe;
                height:100px;
                width:130px;
                display:flex;
                align-items:center;
                justify-content:center;
                img{
                    max-width:90px;
                }
            }
        }
    }
    tfoot{
        tr{
            td{
                border-top:0;
                padding:0;
            }
        }
    }
}