/* 1.4: Padding */
/* Padding Top */
.pdt-0 {
  padding-top: 0px; }

.pdt-5 {
  padding-top: 5px; }

.pdt-10 {
  padding-top: 10px; }

.pdt-15 {
  padding-top: 15px; }

.pdt-20 {
  padding-top: 20px; }

.pdt-25 {
  padding-top: 25px; }

.pdt-30 {
  padding-top: 30px; }

.pdt-35 {
  padding-top: 35px; }

.pdt-40 {
  padding-top: 40px; }

.pdt-45 {
  padding-top: 45px; }

.pdt-50 {
  padding-top: 50px; }

.pdt-55 {
  padding-top: 55px; }

.pdt-60 {
  padding-top: 60px; }

.pdt-65 {
  padding-top: 65px; }

.pdt-70 {
  padding-top: 70px; }

.pdt-75 {
  padding-top: 75px; }

.pdt-80 {
  padding-top: 80px; }

.pdt-85 {
  padding-top: 85px; }

.pdt-90 {
  padding-top: 90px; }

.pdt-95 {
  padding-top: 95px; }

.pdt-100 {
  padding-top: 100px; }

.pdt-105 {
  padding-top: 105px; }

.pdt-110 {
  padding-top: 110px; }

.pdt-115 {
  padding-top: 115px; }

.pdt-120 {
  padding-top: 120px; }

.pdt-125 {
  padding-top: 125px; }

.pdt-130 {
  padding-top: 130px; }

.pdt-135 {
  padding-top: 135px; }

.pdt-140 {
  padding-top: 140px; }

.pdt-145 {
  padding-top: 145px; }

.pdt-150 {
  padding-top: 150px; }

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-0 {
    padding-top: 0px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-5 {
    padding-top: 5px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-10 {
    padding-top: 10px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-15 {
    padding-top: 15px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-20 {
    padding-top: 20px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-25 {
    padding-top: 25px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-30 {
    padding-top: 30px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-35 {
    padding-top: 35px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-40 {
    padding-top: 40px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-45 {
    padding-top: 45px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-50 {
    padding-top: 50px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-55 {
    padding-top: 55px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-60 {
    padding-top: 60px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-65 {
    padding-top: 65px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-70 {
    padding-top: 70px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-75 {
    padding-top: 75px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-80 {
    padding-top: 80px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-85 {
    padding-top: 85px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-90 {
    padding-top: 90px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-95 {
    padding-top: 95px; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdt-xl-100 {
    padding-top: 100px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-0 {
    padding-top: 0px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-5 {
    padding-top: 5px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-10 {
    padding-top: 10px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-15 {
    padding-top: 15px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-20 {
    padding-top: 20px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-25 {
    padding-top: 25px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-30 {
    padding-top: 30px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-35 {
    padding-top: 35px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-40 {
    padding-top: 40px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-45 {
    padding-top: 45px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-50 {
    padding-top: 50px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-55 {
    padding-top: 55px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-60 {
    padding-top: 60px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-65 {
    padding-top: 65px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-70 {
    padding-top: 70px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-75 {
    padding-top: 75px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-80 {
    padding-top: 80px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-85 {
    padding-top: 85px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-90 {
    padding-top: 90px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-95 {
    padding-top: 95px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdt-lg-100 {
    padding-top: 100px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-0 {
    padding-top: 0px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-5 {
    padding-top: 5px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-10 {
    padding-top: 10px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-15 {
    padding-top: 15px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-20 {
    padding-top: 20px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-25 {
    padding-top: 25px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-30 {
    padding-top: 30px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-35 {
    padding-top: 35px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-40 {
    padding-top: 40px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-45 {
    padding-top: 45px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-50 {
    padding-top: 50px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-55 {
    padding-top: 55px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-60 {
    padding-top: 60px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-65 {
    padding-top: 65px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-70 {
    padding-top: 70px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-75 {
    padding-top: 75px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-80 {
    padding-top: 80px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-85 {
    padding-top: 85px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-90 {
    padding-top: 90px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-95 {
    padding-top: 95px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdt-md-100 {
    padding-top: 100px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-0 {
    padding-top: 0px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-5 {
    padding-top: 5px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-10 {
    padding-top: 10px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-15 {
    padding-top: 15px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-20 {
    padding-top: 20px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-25 {
    padding-top: 25px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-30 {
    padding-top: 30px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-35 {
    padding-top: 35px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-40 {
    padding-top: 40px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-45 {
    padding-top: 45px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-50 {
    padding-top: 50px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-55 {
    padding-top: 55px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-60 {
    padding-top: 60px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-65 {
    padding-top: 65px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-70 {
    padding-top: 70px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-75 {
    padding-top: 75px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-80 {
    padding-top: 80px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-85 {
    padding-top: 85px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-90 {
    padding-top: 90px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-95 {
    padding-top: 95px; } }
@media only screen and (max-width: 767.98px) {
  .pdt-sm-100 {
    padding-top: 100px; } }
/* Padding Bottom */
.pdb-0 {
  padding-bottom: 0px !important; }

.pdb-5 {
  padding-bottom: 5px !important; }

.pdb-10 {
  padding-bottom: 10px !important; }

.pdb-15 {
  padding-bottom: 15px !important; }

.pdb-20 {
  padding-bottom: 20px !important; }

.pdb-25 {
  padding-bottom: 25px !important; }

.pdb-30 {
  padding-bottom: 30px !important; }

.pdb-35 {
  padding-bottom: 35px !important; }

.pdb-40 {
  padding-bottom: 40px !important; }

.pdb-45 {
  padding-bottom: 45px !important; }

.pdb-50 {
  padding-bottom: 50px !important; }

.pdb-55 {
  padding-bottom: 55px !important; }

.pdb-60 {
  padding-bottom: 60px !important; }

.pdb-65 {
  padding-bottom: 65px !important; }

.pdb-70 {
  padding-bottom: 70px !important; }

.pdb-75 {
  padding-bottom: 75px !important; }

.pdb-80 {
  padding-bottom: 80px !important; }

.pdb-85 {
  padding-bottom: 85px !important; }

.pdb-90 {
  padding-bottom: 90px !important; }

.pdb-95 {
  padding-bottom: 95px !important; }

.pdb-100 {
  padding-bottom: 100px !important; }

.pdb-105 {
  padding-bottom: 105px !important; }

.pdb-110 {
  padding-bottom: 110px !important; }

.pdb-115 {
  padding-bottom: 115px !important; }

.pdb-120 {
  padding-bottom: 120px !important; }

.pdb-125 {
  padding-bottom: 125px !important; }

.pdb-130 {
  padding-bottom: 130px !important; }

.pdb-135 {
  padding-bottom: 135px !important; }

.pdb-140 {
  padding-bottom: 140px !important; }

.pdb-145 {
  padding-bottom: 145px !important; }

.pdb-150 {
  padding-bottom: 150px !important; }

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-0 {
    padding-bottom: 0px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-5 {
    padding-bottom: 5px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-10 {
    padding-bottom: 10px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-15 {
    padding-bottom: 15px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-20 {
    padding-bottom: 20px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-25 {
    padding-bottom: 25px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-30 {
    padding-bottom: 30px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-35 {
    padding-bottom: 35px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-40 {
    padding-bottom: 40px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-45 {
    padding-bottom: 45px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-50 {
    padding-bottom: 50px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-55 {
    padding-bottom: 55px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-60 {
    padding-bottom: 60px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-65 {
    padding-bottom: 65px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-70 {
    padding-bottom: 70px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-75 {
    padding-bottom: 75px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-80 {
    padding-bottom: 80px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-85 {
    padding-bottom: 85px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-90 {
    padding-bottom: 90px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-95 {
    padding-bottom: 95px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .pdb-xl-100 {
    padding-bottom: 100px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-0 {
    padding-bottom: 0px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-5 {
    padding-bottom: 5px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-10 {
    padding-bottom: 10px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-15 {
    padding-bottom: 15px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-20 {
    padding-bottom: 20px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-25 {
    padding-bottom: 25px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-30 {
    padding-bottom: 30px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-35 {
    padding-bottom: 35px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-40 {
    padding-bottom: 40px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-45 {
    padding-bottom: 45px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-50 {
    padding-bottom: 50px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-55 {
    padding-bottom: 55px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-60 {
    padding-bottom: 60px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-65 {
    padding-bottom: 65px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-70 {
    padding-bottom: 70px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-75 {
    padding-bottom: 75px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-80 {
    padding-bottom: 80px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-85 {
    padding-bottom: 85px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-90 {
    padding-bottom: 90px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-95 {
    padding-bottom: 95px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pdb-lg-100 {
    padding-bottom: 100px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-0 {
    padding-bottom: 0px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-5 {
    padding-bottom: 5px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-10 {
    padding-bottom: 10px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-15 {
    padding-bottom: 15px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-20 {
    padding-bottom: 20px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-25 {
    padding-bottom: 25px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-30 {
    padding-bottom: 30px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-35 {
    padding-bottom: 35px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-40 {
    padding-bottom: 40px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-45 {
    padding-bottom: 45px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-50 {
    padding-bottom: 50px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-55 {
    padding-bottom: 55px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-60 {
    padding-bottom: 60px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-65 {
    padding-bottom: 65px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-70 {
    padding-bottom: 70px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-75 {
    padding-bottom: 75px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-80 {
    padding-bottom: 80px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-85 {
    padding-bottom: 85px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-90 {
    padding-bottom: 90px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-95 {
    padding-bottom: 95px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .pdb-md-100 {
    padding-bottom: 100px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-0 {
    padding-bottom: 0px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-5 {
    padding-bottom: 5px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-10 {
    padding-bottom: 10px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-15 {
    padding-bottom: 15px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-20 {
    padding-bottom: 20px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-25 {
    padding-bottom: 25px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-30 {
    padding-bottom: 30px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-35 {
    padding-bottom: 35px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-40 {
    padding-bottom: 40px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-45 {
    padding-bottom: 45px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-50 {
    padding-bottom: 50px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-55 {
    padding-bottom: 55px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-60 {
    padding-bottom: 60px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-65 {
    padding-bottom: 65px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-70 {
    padding-bottom: 70px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-75 {
    padding-bottom: 75px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-80 {
    padding-bottom: 80px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-85 {
    padding-bottom: 85px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-90 {
    padding-bottom: 90px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-95 {
    padding-bottom: 95px !important; } }
@media only screen and (max-width: 767.98px) {
  .pdb-sm-100 {
    padding-bottom: 100px !important; } }
/* Padding Left */
.pl-0 {
  padding-left: 0px; }

.pl-5 {
  padding-left: 5px; }

.pl-10 {
  padding-left: 10px; }

.pl-15 {
  padding-left: 15px; }

.pl-20 {
  padding-left: 20px; }

.pl-25 {
  padding-left: 25px; }

.pl-30 {
  padding-left: 30px; }

.pl-35 {
  padding-left: 35px; }

.pl-40 {
  padding-left: 40px; }

.pl-45 {
  padding-left: 45px; }

.pl-50 {
  padding-left: 50px; }

.pl-55 {
  padding-left: 55px; }

.pl-60 {
  padding-left: 60px; }

.pl-65 {
  padding-left: 65px; }

.pl-70 {
  padding-left: 70px; }

.pl-75 {
  padding-left: 75px; }

.pl-80 {
  padding-left: 80px; }

.pl-85 {
  padding-left: 85px; }

.pl-90 {
  padding-left: 90px; }

.pl-95 {
  padding-left: 95px; }

.pl-100 {
  padding-left: 100px; }

.pl-105 {
  padding-left: 105px; }

.pl-110 {
  padding-left: 110px; }

.pl-115 {
  padding-left: 115px; }

.pl-120 {
  padding-left: 120px; }

.pl-125 {
  padding-left: 125px; }

.pr-40 {
  padding-right: 40px; }

/* 1.5: Margin */
/* Margin Bottom */
.mb-0 {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.mb-105 {
  margin-bottom: 105px !important; }

.mb-110 {
  margin-bottom: 110px !important; }

.mb-115 {
  margin-bottom: 115px !important; }

.mb-120 {
  margin-bottom: 120px !important; }

.mb-125 {
  margin-bottom: 125px !important; }

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-0 {
    margin-bottom: 0px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-5 {
    margin-bottom: 5px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-10 {
    margin-bottom: 10px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-15 {
    margin-bottom: 15px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-20 {
    margin-bottom: 20px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-25 {
    margin-bottom: 25px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-30 {
    margin-bottom: 30px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-35 {
    margin-bottom: 35px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-40 {
    margin-bottom: 40px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-45 {
    margin-bottom: 45px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-50 {
    margin-bottom: 50px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-55 {
    margin-bottom: 55px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-60 {
    margin-bottom: 60px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-65 {
    margin-bottom: 65px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-70 {
    margin-bottom: 70px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-75 {
    margin-bottom: 75px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-80 {
    margin-bottom: 80px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-85 {
    margin-bottom: 85px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-90 {
    margin-bottom: 90px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-95 {
    margin-bottom: 95px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mb-xl-100 {
    margin-bottom: 100px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-0 {
    margin-bottom: 0px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-5 {
    margin-bottom: 5px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-10 {
    margin-bottom: 10px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-15 {
    margin-bottom: 15px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-20 {
    margin-bottom: 20px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-25 {
    margin-bottom: 25px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-30 {
    margin-bottom: 30px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-35 {
    margin-bottom: 35px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-40 {
    margin-bottom: 40px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-45 {
    margin-bottom: 45px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-50 {
    margin-bottom: 50px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-55 {
    margin-bottom: 55px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-60 {
    margin-bottom: 60px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-65 {
    margin-bottom: 65px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-70 {
    margin-bottom: 70px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-75 {
    margin-bottom: 75px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-80 {
    margin-bottom: 80px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-85 {
    margin-bottom: 85px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-90 {
    margin-bottom: 90px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-95 {
    margin-bottom: 95px; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-lg-100 {
    margin-bottom: 100px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-0 {
    margin-bottom: 0px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-5 {
    margin-bottom: 5px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-10 {
    margin-bottom: 10px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-15 {
    margin-bottom: 15px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-20 {
    margin-bottom: 20px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-25 {
    margin-bottom: 25px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-30 {
    margin-bottom: 30px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-35 {
    margin-bottom: 35px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-40 {
    margin-bottom: 40px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-45 {
    margin-bottom: 45px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-50 {
    margin-bottom: 50px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-55 {
    margin-bottom: 55px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-60 {
    margin-bottom: 60px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-65 {
    margin-bottom: 65px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-70 {
    margin-bottom: 70px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-75 {
    margin-bottom: 75px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-80 {
    margin-bottom: 80px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-85 {
    margin-bottom: 85px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-90 {
    margin-bottom: 90px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-95 {
    margin-bottom: 95px; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mb-md-100 {
    margin-bottom: 100px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-0 {
    margin-bottom: 0px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-5 {
    margin-bottom: 5px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-10 {
    margin-bottom: 10px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-15 {
    margin-bottom: 15px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-20 {
    margin-bottom: 20px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-25 {
    margin-bottom: 25px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-30 {
    margin-bottom: 30px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-35 {
    margin-bottom: 35px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-40 {
    margin-bottom: 40px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-45 {
    margin-bottom: 45px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-50 {
    margin-bottom: 50px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-55 {
    margin-bottom: 55px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-60 {
    margin-bottom: 60px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-65 {
    margin-bottom: 65px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-70 {
    margin-bottom: 70px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-75 {
    margin-bottom: 75px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-80 {
    margin-bottom: 80px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-85 {
    margin-bottom: 85px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-90 {
    margin-bottom: 90px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-95 {
    margin-bottom: 95px; } }
@media only screen and (max-width: 767.98px) {
  .mb-sm-100 {
    margin-bottom: 100px; } }
@media only screen and (max-width: 576px) {
  .mb-xs-0 {
    margin-bottom: 0px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-5 {
    margin-bottom: 5px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-10 {
    margin-bottom: 10px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-15 {
    margin-bottom: 15px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-20 {
    margin-bottom: 20px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-25 {
    margin-bottom: 25px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-30 {
    margin-bottom: 30px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-35 {
    margin-bottom: 35px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-40 {
    margin-bottom: 40px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-45 {
    margin-bottom: 45px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-50 {
    margin-bottom: 50px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-55 {
    margin-bottom: 55px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-60 {
    margin-bottom: 60px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-65 {
    margin-bottom: 65px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-70 {
    margin-bottom: 70px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-75 {
    margin-bottom: 75px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-80 {
    margin-bottom: 80px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-85 {
    margin-bottom: 85px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-90 {
    margin-bottom: 90px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-95 {
    margin-bottom: 95px !important; } }
@media only screen and (max-width: 576px) {
  .mb-xs-100 {
    margin-bottom: 100px !important; } }
/* Margin Top */
.mt-0 {
  margin-top: 0px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-55 {
  margin-top: 55px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mt-65 {
  margin-top: 65px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-75 {
  margin-top: 75px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mt-85 {
  margin-top: 85px !important; }

.mt-90 {
  margin-top: 90px !important; }

.mt-95 {
  margin-top: 95px !important; }

.mt-100 {
  margin-top: 100px !important; }

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-0 {
    margin-top: 0px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-5 {
    margin-top: 5px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-10 {
    margin-top: 10px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-15 {
    margin-top: 15px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-20 {
    margin-top: 20px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-25 {
    margin-top: 25px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-30 {
    margin-top: 30px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-35 {
    margin-top: 35px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-40 {
    margin-top: 40px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-45 {
    margin-top: 45px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-50 {
    margin-top: 50px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-55 {
    margin-top: 55px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-60 {
    margin-top: 60px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-65 {
    margin-top: 65px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-70 {
    margin-top: 70px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-75 {
    margin-top: 75px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-80 {
    margin-top: 80px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-85 {
    margin-top: 85px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-90 {
    margin-top: 90px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-95 {
    margin-top: 95px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .mt-xl-100 {
    margin-top: 100px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-0 {
    margin-top: 0px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-5 {
    margin-top: 5px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-10 {
    margin-top: 10px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-15 {
    margin-top: 15px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-20 {
    margin-top: 20px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-25 {
    margin-top: 25px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-30 {
    margin-top: 30px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-35 {
    margin-top: 35px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-40 {
    margin-top: 40px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-45 {
    margin-top: 45px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-50 {
    margin-top: 50px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-55 {
    margin-top: 55px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-60 {
    margin-top: 60px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-65 {
    margin-top: 65px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-70 {
    margin-top: 70px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-75 {
    margin-top: 75px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-80 {
    margin-top: 80px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-85 {
    margin-top: 85px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-90 {
    margin-top: 90px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-95 {
    margin-top: 95px !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-lg-100 {
    margin-top: 100px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-0 {
    margin-top: 0px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-5 {
    margin-top: 5px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-10 {
    margin-top: 10px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-15 {
    margin-top: 15px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-20 {
    margin-top: 20px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-25 {
    margin-top: 25px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-30 {
    margin-top: 30px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-35 {
    margin-top: 35px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-40 {
    margin-top: 40px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-45 {
    margin-top: 45px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-50 {
    margin-top: 50px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-55 {
    margin-top: 55px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-60 {
    margin-top: 60px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-65 {
    margin-top: 65px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-70 {
    margin-top: 70px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-75 {
    margin-top: 75px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-80 {
    margin-top: 80px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-85 {
    margin-top: 85px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-90 {
    margin-top: 90px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-95 {
    margin-top: 95px !important; } }
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-md-100 {
    margin-top: 100px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-0 {
    margin-top: 0px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-5 {
    margin-top: 5px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-10 {
    margin-top: 10px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-15 {
    margin-top: 15px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-20 {
    margin-top: 20px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-25 {
    margin-top: 25px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-30 {
    margin-top: 30px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-35 {
    margin-top: 35px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-40 {
    margin-top: 40px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-45 {
    margin-top: 45px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-50 {
    margin-top: 50px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-55 {
    margin-top: 55px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-60 {
    margin-top: 60px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-65 {
    margin-top: 65px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-70 {
    margin-top: 70px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-75 {
    margin-top: 75px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-80 {
    margin-top: 80px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-85 {
    margin-top: 85px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-90 {
    margin-top: 90px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-95 {
    margin-top: 95px !important; } }
@media only screen and (max-width: 767.98px) {
  .mt-sm-100 {
    margin-top: 100px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-0 {
    margin-top: 0px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-5 {
    margin-top: 5px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-10 {
    margin-top: 10px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-15 {
    margin-top: 15px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-20 {
    margin-top: 20px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-25 {
    margin-top: 25px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-30 {
    margin-top: 30px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-35 {
    margin-top: 35px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-40 {
    margin-top: 40px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-45 {
    margin-top: 45px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-50 {
    margin-top: 50px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-55 {
    margin-top: 55px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-60 {
    margin-top: 60px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-65 {
    margin-top: 65px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-70 {
    margin-top: 70px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-75 {
    margin-top: 75px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-80 {
    margin-top: 80px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-85 {
    margin-top: 85px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-90 {
    margin-top: 90px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-95 {
    margin-top: 95px !important; } }
@media only screen and (max-width: 576px) {
  .mt-xs-100 {
    margin-top: 100px !important; } }
/* Margin Right */
.mr-0 {
  margin-right: 0px; }

.mr-5 {
  margin-right: 5px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-25 {
  margin-right: 25px; }

.mr-30 {
  margin-right: 30px; }

.mr-35 {
  margin-right: 35px; }

.mr-40 {
  margin-right: 40px; }

.mr-45 {
  margin-right: 45px; }

.mr-50 {
  margin-right: 50px; }

.mr-55 {
  margin-right: 55px; }

.mr-60 {
  margin-right: 60px; }

.mr-65 {
  margin-right: 65px; }

.mr-70 {
  margin-right: 70px; }

.mr-75 {
  margin-right: 75px; }

.mr-80 {
  margin-right: 80px; }

.mr-85 {
  margin-right: 85px; }

.mr-90 {
  margin-right: 90px; }

.mr-95 {
  margin-right: 95px; }

.mr-100 {
  margin-right: 100px; }

/* Margin Left */
.ml-0 {
  margin-left: 0px; }

.ml-5 {
  margin-left: 5px; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-25 {
  margin-left: 25px; }

.ml-30 {
  margin-left: 30px; }

.ml-35 {
  margin-left: 35px; }

.ml-40 {
  margin-left: 40px; }

.ml-45 {
  margin-left: 45px; }

.ml-50 {
  margin-left: 50px; }

.ml-55 {
  margin-left: 55px; }

.ml-60 {
  margin-left: 60px; }

.ml-65 {
  margin-left: 65px; }

.ml-70 {
  margin-left: 70px; }

.ml-75 {
  margin-left: 75px; }

.ml-80 {
  margin-left: 80px; }

.ml-85 {
  margin-left: 85px; }

.ml-90 {
  margin-left: 90px; }

.ml-95 {
  margin-left: 95px; }

.ml-100 {
  margin-left: 100px; }


