/*=============================================
    xx: Blog
==============================================*/

/* xx: Blog Slider */


/* xx: Single Blog Item */

.shop--single-blog-item{
	.shop--blog-bg{
		height: 220px;
		background-size: cover !important;
	}
	.shop--blog-bage{
		position:relative;
		&:after{
			position: absolute;
		    right: 10px;
		    bottom: 10px;
		    line-height:30px;
		    font-family: 'Montserrat', sans-serif;
		    color:#fff;
		    padding:2px 9px;
		    background: #7a7a7a;
		    content: "Kid’s Fashion";
		}
	}
	.shop--blog-content{
		margin-top:26px;
		h4{
			font-size: 16px;
			line-height: 22px;
			font-weight: 400;
			color:#5a5a5a;
			&:hover{
				color:$heading-color;
			}
		}
		.blog-text{
			margin-bottom: 25px;
		}
		.shop--bordered-btn{
			border-color: $text-color;
			color:$heading-color;
			line-height: 40px;
			&:hover{
				color:#fff;
				&:after{
					display:none;
				}
			}
			&:after{
				border-bottom-color:$text-color;
			}
		}
	}
	.shop--blog-meta{
		margin-bottom:5px;
		li{
			font-family: 'Montserrat', sans-serif;
			display:inline-block;
			font-size:10px;
			line-height:30px;
			color:#7a7a7a;
			margin-right: 15px;
			&:last-child{
				margin-right: 0;
			}
			a{
				span{
					padding-left:3px;
				}
			}
			i{
				color:#7a7a7a;
			}
		}
	}
}

/* xx: Blog Slider nav */

.shop--blog-slider{
	.owl-nav{
		button{
			position:absolute;
			top:-82px;
			right: 0;
			@media #{$extra-small-mobile}{
				top:-35px;
			}
			&:hover{
				i{
					border-color: #9a9a9a;
					color:$heading-color;
				}
			}
			i{
				height:30px;
				width:30px;
				border:1px solid $border-color;
				font-size:14px;
				line-height:30px;
				text-align: center;
			}
		}
		button.owl-next{
			right:40px
		}
	}
}