/*=============================================
    xx: Call To Action
==============================================*/

/* xx: Subscription Heading */

.subscription-heading{
	h3{
		font-size: 30px;
		line-height: 22px;
		font-weight:500;
		margin-bottom:15px;
		@media #{$iphone-devices}{
			font-size: 28px;
			line-height: 30px;
		}
	}
	p{
		font-family: 'Montserrat', sans-serif;
		font-size:14px;
		color: #5a5a5a;
	}
}

/* xx: Subscription Form */

.subscription-form{
	position: relative;
	margin-top:28px;
	input[type=email]{
		width:77%;
		height: 40px;
		padding:0 20px;
		color:#9a9a9a;
		border:1px solid #eaeaea;
		@media #{$tablet-device}{
			width:70%;
		}
		@media #{$large-mobile}{
			width:70%;
		}
		@media #{$iphone-devices}{
			width:67%;
			padding:0 5px;
		}
	}
	button{
		width:20%;
		@media #{$tablet-device}{
			width:28%;
		}
		@media #{$large-mobile}{
			width:28%;
		}
		@media #{$iphone-devices}{
			width:33%;
		}
	}
	.subscribe-btn{
		position:absolute;
		background-color: #5a5a5a;
		padding:0;
		font-family: 'Montserrat', sans-serif;
		font-size:14px;
		height:40px;
		line-height:40px;
		right:0;
		@media #{$iphone-devices}{
			font-size: 12px;		}
		&:hover{
			background-color: $heading-color;
		}
	}
}

/* xx: Subscription Image */

.shop--subscription-image-wrapper{
	@media #{$large-mobile}{
		display: flex;
		justify-content: center;
		margin-top:30px;
	}
	.subscription-image-inner{
		height:205px;
		width:205px;
		.subscription-image{
			height:100%;
			width:100%;
			border-radius: 50%;
			background-size: cover !important;
		}
	}
}

