/*=============================================
    xx: Section Title
==============================================*/

/*xx: Section Title*/
.shop--section-title{
	border-bottom:1px solid $border-color;
}

/*xx: Section Title Text*/
.shop--section-title-text{
	text-transform: uppercase;
	font-size: 20px;
	line-height:30px;
	font-weight:700;
	background:#f5f5f5;
	display:inline-block;
	padding:10px 25px;
	margin-bottom:0;
	@media #{$large-mobile}{
		font-size: 18px;
	}
	@media #{$iphone-devices}{
		font-size: 16px;
	}
}

.shop--product-slider-menu{
	margin-left:60px;
	.shop--product-slider-menu-list{
		margin-bottom:0;
		li{
			display:inline-block;
			margin-right:6px;
			font-size:12px;
			font-weight:300;
			color: #7a7a7a;
			line-height:30px;
			font-family: 'Montserrat', sans-serif;
			border:1px solid $border-color;
			padding:0 15px;
			cursor: pointer;
			&:last-child{
				margin-right:0;
			}
		}
		li.active{
			border-color: $text-color;
			color:$heading-color;
		}
	}
}