/*=============================================
    xx: Top Category Slider
==============================================*/

/* xx: Single Top Category Slider */

.shop--single-top-category-slider{
	position:relative;
	z-index: 2;
	&:hover{
		&:after{
			width: 100%;
			height: 100%;
			opacity:.7;
			visibility:visible;
		}
		.shop--category-slider-hover{
			bottom:5px;
			visibility: visible;
			opacity: 1;
		}
	}
	&:after{
		position:absolute;
		left:0;
		bottom: 0;
		width:0;
		height:0;
		background:#000000;
		transition: .4s;
		opacity:0;
		visibility:hidden;
		content:"";
	}
	.shop--category-slider-hover{
		position:absolute;
		bottom:0px;
		left:12px;
		z-index: 2;
		visibility:hidden;
		opacity: 0;
		transition:.4s;
		p{
			font-size: 14px;
			color:#fff;
			font-family: 'Montserrat', sans-serif;
		}
	}
}