// Colors
$damke-p1: #00bdc2
$damke-s1: #8c889e
$damke-heading: #3c4858
$white: #ffffff
$black: #000000

// Fonts
$dosis: 'Dosis', sans-serif
$popins: 'Poppins', sans-serif
$karla: 'Karla', sans-serif
$barlow: 'Barlow', sans-serif
$lato: 'Lato', sans-serif

// Font Weight
$thin: 100
$extra-light: 200
$light: 300
$regular: 400
$medium: 500
$semi-bold: 600
$bold: 700
$extra-bold: 800
$black: 900