/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
account style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.change-password-form,.change-address-form{
	display:none;
	h2{
		font-size:20px;
		font-weight:700;
		text-transform:capitalize;
	}
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
account style end 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */