/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
footer style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.footer-top{
	padding:40px 0;
	.weidget{
		padding:0;
	}
	.weidget-news-letter{
		padding-bottom:30px;
		border-bottom:1px solid #3d3d38;
		margin-bottom:30px;
	}
}

.footer-area{

	background:#272723;
	p{
		color:#a8a8a8;
	}
	h4{
		color:#fff;
	}
}
			
