/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
	button style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.site-btn,.bordered-btn{
	display:inline-block;
	background:#000;
	color:#fff;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	padding:6px 40px;
	text-align:center;
	transition:$transition-time;

	&:hover{
		opacity:.9;
		color:#fff;
	}
}
.site-btn.theme-2{
	background:$primary-color;
	padding:6px 30px;
}
.cart-btn{
	display:inline-block;
	color:$heading-color;
	font-size:13px;
	i{
		margin-right:4px;
		color:$primary-color;
	}
}
.bordered-icon{
	font-size: 14px;
    color: #7a7d82;
    border: 1px solid #dae2e6;
    height: 35px;
    width: 40px;
    text-align: center;
    line-height: 35px;
}
.bordered-btn{
	padding:5px 20px;
	background:0 0;
	color:$heading-color;
	border:1px solid #dae2e6;
	transition:$transition-time;
	font-family: 'Open Sans', sans-serif;
	&:hover{
		border-color:$primary-color;
		color:$primary-color;
	}
}
.add-cart-btn{
	color:#fff;
	display:inline-block;
	background:#999;
	padding:5px 14px;

	i{
		padding-right:5px;
	}
	&:hover{
		background:$primary-color;
		color:#fff;
	}
}

.action-add-cart{
    display: inline-block;
    background: #40739e;
    color: #fff;
    font-size: 14px;
    min-width: 65px;
    padding: 6px 20px;
    border: 1px solid #40739e;
    transition: 0.3s;
    z-index:2;
    &:hover{
    	background:#fff;
    	border-color:#dae2e6;
    	color:$heading-color;

    }

}
a.read-more-btn{
	display:inline-block;
	background:#ccc;
	color:$heading-color;
	padding:10px 20px;
	font-weight:700;
	border-radius:5px;
	text-decoration:none;
	transition:$transition-time;
	&:hover{
		background:$primary-color;
		color:#fff;
	}
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
	button style end 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */