/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
banner section style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.banner-img.background-image{
	height:200px;
	width:100%;
	padding:20px;
	&:hover{
		.banner-content{
			margin-bottom:0;
			a.banner-btn{
				margin-top:20px;
			}
		}
	}
	.banner-content{
		
		p{
			color:$heading-color;
			font-size:18px;
			margin-bottom:0;
		}
		h2{
			font-size:30px;
			margin-bottom:0;
			line-height:1.7;
			font-family: "Oswald",sans-serif;
			span{
				font-weight:600;
			}

		}
		h5{
			margin-bottom:0;
			font-family: "Oswald",sans-serif;
		}
		a.banner-btn{
			display:inline-block;
			color:$text-color;
			text-decoration:none;
			font-size:16px;
			margin-top:25px;
			transition:.3s;
			i{
				font-size:12px;
				margin-left:5px;
				height:15px;
				width:15px;
				line-height:15px;
				text-align:center;
				background:$primary-color;
				color:#fff;
				border-radius:50%;
			}
		}
	}
}

.banner-1{
	background-image:url('../images/banner-img.jpg')
}
.banner-2{
	background-image:url('../images/banner-img-1.jpg')
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
banner section end start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */