/*--------------------------
[---ticker start---]
--------------------------*/

.ticker{
	background:#FF7550;
	color:#fff;
	padding: 5px 15px;
}

/*--------------------------
[---ticker end---]
--------------------------*/