/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
contact form style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.contact-us-form{
	
	.form-element{
		input[type=submit]{
			width:auto;
			padding:10px 35px;
			background:$primary-color;
			cursor:pointer;
		}
	}
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
contact form end start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */