/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
login form style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.login-form{
	padding:15px;
	h4{
		font-weight:700;
		margin-bottom:20px;
	}
}



/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
login form end start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */