/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
register form style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.register-form{
	padding:15px;
	h4{
		font-weight:700;
		margin-bottom:20px;
		
	}
}




/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
register form end start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */