/*=============================================
    03: Header
==============================================*/


/* 3.1: header top */
.header-top {
	@media #{$large-mobile}{
		padding:20px 0;
	}
}
	/* 3.1.1: heder top info */

	.heder-top-info{
		@media #{$large-mobile}{
			margin-bottom:10px;
		}
		li{
			display:flex;
			height:50px;
			align-items:center;
			padding:0 10px;
			border-left:1px solid #3c3d48;
			&:nth-child(2){
				@media #{$small-mobile}{
					display:none;
				}
			}
			@media #{$large-mobile}{
				border:0;
				height:auto;
			}
			a{
				display:inline-block;
				text-decoration:none;
				color:#8287a7;
				font-size:12px;
				font-family: 'PT Sans', sans-serif;
				line-height:30px;
				&:hover{
					color:#fff;
				}
			}
		}
		.social-links{
			a{
				padding-right:10px;
				text-decoration:none;
				&:hover{
					color:#fff;
				}
			}
		}
	}

	/* 3.1.2: header top menu */

	.header-top-menu{
		.header-top-dropdown{
			display:flex;
			height:50px;
			align-items:center;
			padding:0 10px;
			border-right:1px solid #3c3d48;
			position:relative;
			@media #{$large-mobile}{
				border:0;
				height:auto;
			}
			a{
				text-transform:uppercase;
				i{
					font-size:9px;
				}
			}
			&:hover{
			    ul{
			    	opacity: 1;
				    visibility: visible;
				    @media #{$large-mobile}{
						top:38px;
					}
					li{
						a{
							color:$heading-color;
						}
					}
			    }
			    a{
			    	color:#fff;
			    }
			}
			ul{
				background: #ecf7fe;
			    position: absolute;
			    text-align: left;
			    right: 10px;
			    top: 40px;
			    width: 120px;
			    box-shadow: 0 0 10px rgba(0,0,0,.1);
			    opacity: 0;
			    visibility: hidden;
			    transition: 0.3s;
			    z-index: 99;
			    padding:10px 0;

				@media #{$very-extra-small-mobile}{
					right:-25px;
					width: 110px;
				}
			    li{
			    	border-bottom:1px solid #e2e6fb;
			    	padding:12px 18px;
			    	@media #{$very-extra-small-mobile}{
						padding:12px 14px;
					}
			    	&:last-child{
			    		border-bottom:0;
			    	}
			    }
			    a{
			    	text-transform:capitalize;
			    	display:block;
			    	text-decoration:none;
			    	text-align:right;
			    	color:$heading-color;
			    	font-size:14px;
			    	@media #{$very-extra-small-mobile}{
						font-size:13px;
					}
			    }
			}
		}
		a{
			font-size:12px;
			color:#8287a7;
			font-family: 'PT Sans', sans-serif;
			text-decoration:none;
			line-height:30px;
		}
	}

/* 3.2: main Header */

.main-header{
	background:#ecf7fe;
	position:relative;
	z-index:98;
	@media #{$tablet-device}{
		padding:20px 0;
	}
	@media #{$large-mobile}{
		padding:20px 0;
	}
}

/* 3.2.1: Logo */
.logo{
	h3{
		display:inline-block;
	}
}

/* 3.2.2: Main Menu */

.main-menu{
	transition: .3s all linear;
	ul{
		transition: .3s all linear;
		li{
			display:inline-block;
			padding-left: 15px;
    		padding-right: 15px;
    		position:relative;
    		@media #{$desktop-device}{
	            padding-left: 10px;
    			padding-right: 10px;
	        }
			&:hover{
				>a{
					color:$primary-color;
					text-decoration:none;
					&:before{
						width:100%;
					}
				}

				>ul{
					top: 99px;
				    opacity: 1;
				    visibility: visible;
				}
			}
			>a{
				display:block;
				font-family: 'PT Sans', sans-serif;
				font-size:16px;
				line-height:30px;
				color:#31333e;
				padding:35px 0;
				position:relative;
				text-decoration:none;
				@media #{$desktop-device}{
					font-size:14px;
				}
				&:before{
					position:absolute;
					left:0;
					right:0;
					margin:auto;
					bottom:0;
					width:0%;
					height:4px;
					background:$heading-color;
					content:"";
    				transition: all .2s;
    				@media #{$tablet-device}{
						display:none;
					}
    				@media #{$large-mobile}{
						display:none;
					}
    				@media #{$small-mobile}{
						display:none;
					}
				}
			}
			a.active{
				color:$primary-color;
				&:before{
					width:100%;
				}
			}
			>ul{
				width: 220px;
			    background: #ecf7fe;
			    position: absolute;
			    left: 15px;
			    top: 100px;
			    box-shadow: 0 0 10px rgba(0,0,0,.1);
			    visibility: hidden;
			    opacity: 0;
			    transition: 0.3s;
			    z-index: 9999;
			    padding:15px 0;
			    @media #{$desktop-device}{
		            left:11px;
		        }
			    >li{
			    	display:block;
			    	padding-right:0;
			    	padding-left:0;
			    	border-top:1px solid #e2e6fb;
			    	&:first-child{
			    		border-top:0;
			    	}
			    	&:hover{
			    		ul{
			    			top:0;
			    			left:220px;
			    		}
			    	}
			    	>a{
			    		font-family: 'PT Sans', sans-serif;
			    		padding: 10px 20px;
					    font-size: 14px;
					    line-height:30px;
					    margin:0;
					    &:before{
					    	display:none;
					    }
			    	}
			    }
			    ul{
			    	left: 230px;
				    top: 0;
				    &:after,&:before{
				    	content: "";
    					position: absolute;
				    }
				    li{
				    	display:block;
				    	position:relative;
				    }
			    }
			}
		}
	}
	.sub-menu-icon,.left-sub-menu-icon{
		position:relative;
		&:after{
			font-size: 14px;
		    content: "\f0d7";
		    font-weight: 900;
		    color: inherit;
		    font-family: "Font Awesome 5 Free";
	        float: right;
		    margin-left: 5px;
		    margin-top: 2px;
		    @media #{$tablet-device}{
				display:none;
			}
			@media #{$large-mobile}{
				display:none;
			}
			@media #{$small-mobile}{
				display:none;
			}
		}

	}
	.left-sub-menu-icon{
		&:after{
			content:"\f105";
			right:10px;
			top:12px;
			@media #{$tablet-device}{
				display:none;
			}
		}
	}
}

/* 3.2.5: Mobile Menu */

.mobile-menu{
	.mean-bar{
		.mean-nav{
			background-color: #ffffff;
		    position: relative;
		    top: 30px;
		    z-index: 98;
		    box-shadow:0 2px 7px #e6ebee;
		    >ul{
		    	margin-bottom: 30px;
			    border: 1px solid #eeeeee;
			    border-top: 0px solid transparent;
			    overflow-x: hidden;
			    overflow-y: auto;
			    position: absolute;
			    background: #ecf7fe;
			    left: 0;
			    top: -10px;
			    width: 100%;
			    max-height: 250px;
			    li{
			    	position: relative;
				    display: block;
				    float: left;
				    width: 100%;
				    padding: 0;
				    a{
				    	font-size: 13px;
					    display: block;
					    color: &heading-color;
					    font-weight: 500;
					    text-transform: uppercase;
					    line-height: 44px;
					    position: relative;
					    border-top: 1px solid #e2e6fb;
					    padding: 0 40px 0 20px;
				    }
				    a.mean-expand{
				    	border: 1px solid #eeeeee;
					    position: absolute;
					    right: -1px;
					    top: 0;
					    font-size: 20px !important;
					    color: #444444;
					    line-height: 44px;
					    height: 46px;
					    width: 40px;
					    text-align: center;
					    padding: 0;
				    }
			    }
			    li.row{
			    	display:flex;
			    	margin-left:0;
			    	.col-lg-4{
			    		padding-right:0;
			    		padding-left:0;
			    	}
			    }
		    }
		}
	}
}

.mobile-menu{
	.mean-bar{
		position:relative;
		.meanmenu-reveal{
			position:absolute;
			right: 27% !important;
    		top: -26px;
			z-index:98;
			transition: .3s all linear;
			@media #{$large-mobile}{
				top: -28px;
				right:0 !important;
			}
			@media #{$small-mobile}{
				top: -28px;
				right:0 !important;
			}
			span.menu-bar{
				height: 2px;
			    width: 26px;
			    background-color: $primary-color;
			    display: block;
			    margin: 8px 0;
			    &:before,&:after{
			    	content: "";
				    position: absolute;
				    left: 0;
				    width: 100%;
				    height: 2px;
				    background-color: $primary-color;
			    }
			    &:after{
			    	bottom:0;
			    }
			    &:before{
			    	top:0;
			    }
			}
			span.menu-close{
			    height: 2px;
			    width: 26px;
			    background-color: #ecf7fe;
			    display: block;
			    margin: 8px 0;
			    position:relative;
				&:after,&:before{
					content: "";
				    position: absolute;
				    left: 0;
				    width: 100%;
				    height: 100%;
				     background-color: $primary-color;
				}
				&:after{
					bottom: 0;
				    -webkit-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				}
				&:before{
					top: 0;
				    -webkit-transform: rotate(45deg);
				    -ms-transform: rotate(45deg);
				    transform: rotate(45deg);
				}
			}
		}

	}	
}

.mobile-menu .mean-bar .mean-nav > ul li ul,
{
	    position: static;
	    background-color: rgba(0, 0, 0, 0.03);
	    margin: 0;
	    padding: 0 !important;
	    width: 100%;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    margin: 0;
	    display: none;
	    float: left;
	    width: 100%;
	    opacity: 1;
	    visibility: visible;
	    z-index: 1;
	    -webkit-transition: none;
	    -o-transition: none;
	    transition: none;
}
.mobile-menu .mean-bar .mean-nav > ul li ul
{
	    padding: 0;
	    margin: 0;
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    border-right: 0px solid transparent;
	    width: 100%;
	    display: block;
	    float: left;
	    width: 100%;
}
.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 26px;
	height: 32px;
	text-align: center;
	position: absolute;
	right: 0;
	top: -12px;
	z-index: 2;
	font-weight: 700;
	background: rgba(255,255,255,0.1);
	border: none !important;
	border-left: 1px solid #e2e6fb !important;
}
.mean-remove {
	display: none !important;
}

/* 3.2.4: Header Search */

.header-form{
	margin-right:15px;
	@media #{$large-mobile}{
		display:none;
	}
	input,button{
		border:0;
	}
	input{
		font-size:14px;
		padding:0px;
		width:85px;
		height:18px;
		font-family: 'PT Sans', sans-serif;
		background:#ecf7fe;
		transition: .3s all linear;
	}
	button{
		background:#ecf7fe;
		position:absolute;
		right:0;
		top:0;
		color:#8287a7;
		cursor:pointer;
		padding: 0;
		&:hover{
			color:$primary-color;
		}
	}
}

/* 3.2.5: Header Cart */

.header-cart{
	cursor:pointer;
	position: relative;
    padding-left: 15px;
    @media #{$large-mobile}{
		margin-right:60px;
	}
    @media #{$small-mobile}{
		margin-right:60px;
	}
	&:after{
		position:absolute;
		left:0;
		top:0;
		width:1px;
		height:100%;
		background:#e2e6fb;
		content:"";
		@media #{$large-mobile}{
			display:none;
		}
		@media #{$small-mobile}{
			display:none;
		}
	}
	img{
		max-width:100px;
	}
	.cart-count{
		height:15px;
		width:15px;
		background:$primary-color;
		color:#fff;
		font-size:10px;
		line-height:15px;
		text-align:center;
		border-radius:50%;
		position:absolute;
		top:0;
		right: -9px;
	}
}

/* 3.3: Sticky Header */

.main-header.is-sticky{
	position:fixed;
	width:100%;
	z-index:999;
	top:0;
	box-shadow: 0 0 10px rgba(0,0,0,.15);

}