/* 2.1: Buttons */

.site-btn
	background-color: #4378F8
	padding: 15px 35px
	box-shadow: 0px 12px 16px -7px rgba(67,120,248,1)
	display: inline-block
	transition: .4s
	@extend .color-white
	&:hover
		background-color: #fff 
		color: #4378F8