/* 2.2: Common Classes */

.section-padding
	padding: 110px 0
	+tab 
		padding: 55px 0

.section-title
	max-width: 560px
	margin-bottom: 95px
	h2 
		font-size: 40px
		font-weight: $semi-bold
		margin-bottom: 32px
	+mobileMd
		font-size: 30px
	p 
		font-size: 16px
		color: #61686D
		line-height: 28px