/*=============================================
    06: Services Title
==============================================*/
/* 6.1: Single Services */
.single-service-item {
  border-top: 1px solid #00c544;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  -o-transition: box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  padding: 70px 15px 25px; }
