/*------------------------------
	[---search-trigger  start---]
-------------------------------*/

a.search-trigger{
	text-decoration:none;
	color:#fff;
	display: inline-block;
    margin-top: 15px;
}

/*------------------------------
	[---search-trigger  end---]
-------------------------------*/