/*=============================================
    xx: Countdown Area
==============================================*/
/*xx: countdown Text */
.shop--countdown-text h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 400; }
