/*============================================

[Table of content]

1. Large devices (less than 1200px)
2. Large tablets (less than  992px)
3. Medium devices (less than  768px)
4. Small devices (less than  576px)
5. Extra Small devices (less than  480px)

============================================*/

/* xx. Large Devices (less than 1200px) */
@media (min-width: 1200px) and (max-width: 1499px){
  
}
/* xx. Large tablets (less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px){
    .mt-lg-30{
    	margin-top: 30px;
    }

}

/* xx. Tablet Devices (less than  992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .mb-md-30{
    	margin-bottom: 30px;
    }
}
/* xx. Large Mobile (less than  992px) */
@media (max-width: 767.98px) {
    .mb-sm-30{
    	margin-bottom: 30px;
    }
}
    
/* xx. Small Mobile (less than  768px) */
@media (max-width: 575.98px) {

}
/* xx. Extra Small devices (less than  480px) */
@media (max-width: 479.98px) {

   
}

/* xx. Iphone Devices (less than  380px) */
@media (max-width: 379.98px) {
    
}
