/* ************************
   xx: Padding
   ********************* */
// Padding Top
@for $i from 0 through 20 
  .pt-#{$i * 10} 
    padding-top : #{$i * 10}px
    +mobileLg
        padding-top : #{($i * 10)/2}px

// Padding Bottom    
@for $i from 0 through 20 
  .pb-#{$i * 10} 
    padding-bottom : #{$i * 10}px
    +mobileLg
        padding-bottom : #{($i * 10)/2}px