/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
weidget section style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.weidget{
	.social-links{
		margin-top:15px;
	}
	h4{
		font-size:16px;
		text-transform:uppercase;
		font-weidget:600;
	}
	p{
		line-height:1.4;
	}
	#cart_summery{
		margin-top:20px;
	}
	.contact-info{
		h4{
			font-size:14px;
			font-weight:400;
			line-height:1.4;
			@include media-breakpoint-between(xs, md) {
		         margin-bottom:10px;
		    }
			span{
				display:block;
				text-transform:capitalize;
				color:#a8a8a8;
			}
		}
	}
	.social-links{
		a{
			color:#fff;
			background:#33332f;
			font-size:16px;
			height:40px;
			width:40px;
			text-align:center;
			line-height:40px;
			display:inline-block;
			transition:$transition-time;
			&:hover{
				background:$primary-color;
			}
		}
	}
	ul{
		a{
			color:#a8a8a8;
			text-decoration:none;
			&:hover{
				color:#fff;
			}
		}
	}
	.news-letter-form{
		position:relative;
		.news-leffter-form-wrapper{
			position:absolute;
			left:0;
			top:0;
			width:100%;
			background:#fff;
			input[type=email]{
				width:64%;
				border:none;
				padding:12px 30px;
				@include media-breakpoint-only(lg) {
		            width:64.7%;
		        }
		        @include media-breakpoint-between(xs, md) {
			         padding:12px 15px;
			         width:62%;
			    }
			}
			input[type=submit]{
				width:35%;
				border:none;
				padding:12px 30px;
				background:$primary-color;
				color:#fff;
				float: right;
				@include media-breakpoint-between(xs, md) {
			         padding:12px 15px;
			         width:38%;
			    }
			}
		}
	}
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
weidget section end start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */