// Colors
$text-color: #121C25
$primary-color: #4378F8
$secondary-color: #1baba1
$white: #ffffff
$black: #000000

// Fonts
$openSans: 'Open Sans', sans-serif
$roboto: 'Roboto', sans-serif
$lora: 'Lora', serif

// Font Weight
$thin: 100
$extra-light: 200
$light: 300
$regular: 400
$medium: 500
$semi-bold: 600
$bold: 700
$extra-bold: 800
$black: 900