/*=============================================
    12: Blog
==============================================*/

.blog-container{
	padding-bottom:40px;
	margin: 0 -15px;
	.slick-slide{
        margin:0 15px;
        margin-bottom: 5px;
    }
    .slick-dots{
        @media #{$desktop-device}{
            margin-left: -35px;
        }
        @media #{$tablet-device}{
            margin-left: -20px;
        }
        @media #{$large-mobile}{
            margin-left: -35px;
        }
    }
}

/* 12.1: Single Blog */

.single-blog{
	    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, .18), 0 0px 0px 0 rgba(0, 0, 0, .15);
	    transition:.3s;
	&:hover{
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .18), 0 0 5px 0 rgba(0, 0, 0, .15);
		.blog-details{
			.blog-head{
				border-color:$primary-color;
			}
		}
	}
	.blog-details{
		padding:30px;
		.blog-head{
			padding-bottom:20px;
			border-bottom:1px solid #e2e6fb;
			transition:.3s;
			h3{
				font-size:18px;
				font-weight:700;
				line-height:24px;
				margin-bottom:15px;
			}
			.post-meta{
				color:$sub-title-color;
				font-size:12px;
				li{
					margin-right:10px;
				}
				a{
					color:$heading-color;
					text-decoration:none;
				}
			}
		}
		.blog-content{
			margin-top:18px;
			p{
				color:$sub-title-color;
				line-height:22px;
				margin-bottom:30px;
			}
		}
	}
	.blog-bg{
		background-size:cover;
		background-position:center;
		background-color:#ddd;
		height:180px;
		position:relative;
		.post-meta{
			width:55px;
			position:absolute;
			right:10px;
			top:10px;
			text-align:center;
			li{
				text-transform:uppercase;
				height:25px;
				line-height:25px;
				font-size:12px;
				&:first-child{
					background:#fff;
				}
				&:last-child{
					background:$primary-color;
					color:#fff;
				}
			}
		}
	}
	.blog-bg-1{
		background-image:url('../images/blog/blog-1.jpg');
	}
	.blog-bg-2{
		background-image:url('../images/blog/blog-2.jpg');
	}
	.blog-bg-3{
		background-image:url('../images/blog/blog-3.jpg');
	}
}