/*=============================================
    10: Pricing Table
==============================================*/

.pricing-table-list{
    margin: 0 -15px;
    padding-bottom:40px;
    .slick-slide{
        margin:0 15px;
    }
    .slick-dots{
        @media #{$desktop-device}{
            margin-left: -35px;
        }
        @media #{$tablet-device}{
            margin-left: -20px;
        }
        @media #{$large-mobile}{
            margin-left: -35px;
        }
    }
     
}

/* 10.1: Single Pricing Table */

.single-pricing-table{
    font-size: 16px;
    color: #8287a7;
    padding: 30px 30px 80px;
    transition: all .2s;
    background-size: contain!important;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat!important;
    background-position: bottom!important;
    background-color:#fff !important;
    &:hover{
            box-shadow: 0 15px 15px rgba(0,0,0,.09);
        .pricing-head{
            border-color:$primary-color;
        }
    }
    .pricing-head{
        border-bottom:1px solid #e2e6fb;
        transition:.3s;
        h4{
            color:$primary-color;
            font-weight:400;
            font-size:18px;
        }
        h2{
            font-size:30px;
            font-weight:600;
            span{
                font-size:14px;
                font-weight:500;
            }
        }
        p{
            font-size:16px;
            font-family: 'PT Sans', sans-serif;
            color:$sub-title-color;
            margin-bottom:25px;
        }
    }
    .pricing-content{
        padding-top:25px;
        ul{
            li{
                color:$sub-title-color;
                margin-bottom:12px;
                &:last-child{
                    margin-bottom:0;
                }
            }
        }
        a.bordered-btn{
            margin-top:30px;
        }
    }
}

.single-pricing-table.active{
    overflow:hidden;
    .pricing-head{
        position:relative;
        &:after{
            content: "Popular Plan";
            position: absolute;
            right: -68px;
            top: -5px;
            background: #31333e;
            color: #fff;
            font-family: 'PT Sans', sans-serif;
            font-weight: 800;
            font-size: 12px;
            padding: 5px 36px;
            transform: rotate(45deg);
            text-transform: Uppercase;
            font-weight:400;
        }
    }
}