/*=============================================
    06: Services Title
==============================================*/

.boxed-service-item{
    margin:-15px 0;
}

/* 6.1: Single Services */

.single-service-item{
    border-top: 1px solid #00c544;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    transition: box-shadow .2s;
    padding: 70px 15px 25px;
    margin:15px 0;
    &:hover{
        box-shadow: 0 0 25px rgba(0,0,0,.05);
    }
    .service-icon{
    	i{
    		font-size:38px;
    		color:$primary-color;
    	}
    }
    .service-content{
    	margin-top:25px;

    	h2{
    		font-size:18px;
    	}
    	p{
    		margin-top:30px;
    	}
    }
}