/*=============================================
    13: Subscription
==============================================*/

.subscription-heading{
	h2{
		margin-bottom:0;
		font-weight:500;
		@media #{$desktop-device}{
			font-size:26px;
		}
		@media #{$tablet-device}{
			font-size:24px;
			margin-bottom:20px;
		}
		@media #{$large-mobile}{
			font-size:24px;
			margin-bottom:20px;
		}
	}
}

.subcription-form{
	.input-ground{
		height:60px;
		padding:10px;
		background:#fff;
		.input-group-append{
			height:40px;
			margin-left:0;
		}
		input{
			
			border:0;
		}
		input[type=email]{
			width:72%;
			padding:4px 15px;
		}
		input[type=submit]{
			width:28%;
			background:$primary-color;
			color:#fff;
			font-weight:600;
			cursor:pointer;
		}
	}
}