// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$primary-color-one:#2ca3f2;

$text-color:#8093a8;

$heading-color:#166cb5;
$heading-color-two:#4E657E;
$title-color: #23405f;

$hero-heading-size:50px;
$hero-text-color:#fff;

$yellow-color:#FEC107;

$regular-font:400;

$medium-font:500;

$button-text-color:#fff;

$transition-time:.35s;