/*----------------------------------
[---Variable For All Application---]
----------------------------------*/

$heading-color:#313131;
$text-color:#676767;
$primary-color:#00cf7f;

$transition-time:.35s;