/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
checkout form section style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.checkout-form-wrapper{

	h2{
		font-size:20px;
		font-weight:700;
		margin-bottom:20px;
	}
	
	
	#shipping-address-form{
		display:none;
		h2{
			font-size:30px;
			font-weight:600;
			margin-bottom:30px;
		}
	}
}



/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
checkout form section end start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */