.hiChat--download-app-section
	&.hiChat--section-padding
		+tab
			padding-bottom: 30px
.hiChat--download-app-section
	.hiChat--download-btn
		a
			+tab
				margin-bottom: 30px
			+mobileSm
				margin-bottom: 0
		a+a 
			+mobileSm
				margin-left: 0