/*------------------------------
[---user review section start---]
-------------------------------*/

.single-testimonial-item{
	box-shadow:0 0 20px 10px #E3F1FB;
	padding:50px;
	margin:20px;
	.author-info{
		margin-top:40px;
		img{
			max-width:60px;
			border-radius:50%;
			margin-top:-25px;
			display:inline-block;
		}
		h5{
			font-size:14px;
			line-height:1.7;
			display:inline-block;
			padding-left:20px;
			span{
				display:block;
				color:#8093a8;
				font-weight:400;
				font-size:90%;
			}
		}
	}
}

/*------------------------------
[---user review section end---]
-------------------------------*/